.front-facts{
    padding: 9rem 0;

    &__title{
        padding-bottom: 1rem;

        span{
            font-weight: 700;
            font-size: 2.6rem;
            display: block;
        }

        .text-accent{
            font-weight: 900;
            font-size: 7.2rem;
        }
    }

    &__sources{
        .awareness__title{
            padding-bottom: 5rem;

        }

        .item__last{
            padding-top: 2rem;
            padding-bottom: 7rem;
        }

    }

    .stats{
        max-width: 57.2rem;
        padding-bottom: 7rem;
    }

    .awareness{
        &__title{
            font-size: 2.6rem;
            font-weight: 900;
            padding-bottom: 4rem;
        }

        &__desktop{
            display: none;
        }

        &__mobile{
            width: 40.7rem;
            display: block;
            margin: 0 auto;
        }
    }
}



@media (max-width: 768px){
    .front-facts{
        padding: 2.5rem 0 7rem;

        &__sources{
            padding-top: 5rem;
        }
    }
}

@media (min-width: 768px){
    .front-facts{

        .cards{
            padding-bottom: 1rem;
        }

        &__title{
            .text-accent{
                line-height: .5;
                padding-bottom: 2rem;
            }
        }
        .awareness{

            &__title{
                width: 45.3rem;
                padding-bottom: 0;

            }
            &__desktop{
                display: block;
            }

            &__mobile{
                display: none;
            }

            &__picture{
                width: 56rem;
                padding-left: 4rem;
            }
        }


        &__sources{

            .awareness__title{
                line-height: 1.2;
                padding-bottom: 5rem;
            }

            .item__last{
                padding-top: 2rem;
                padding-bottom: 0;
            } 

            .item{
                padding-left: 1.5rem;
            }

            .item__last{
                .text-left{
                    padding-left: 6.5rem;
                }
            }

            .progress__text{
                padding-top: 1rem;
                padding-left: .8rem;
            }
        }

        
    }

}