.front-contact{
    background-color: #f3f5fd;
    padding-bottom: 12rem;

    .card{
        background-color: #fff;
        border-radius: 3.3rem;
        padding: 4rem 3rem;

        &__head{
            display: flex;
            align-items: center;
            gap: 2rem;
            padding-bottom: 2rem;
        }

        &__ico{
            svg{
                width: 3rem;
                height: 3rem;
            }
        }

        &__title{
            padding-bottom: 0;

        }

        &__content{

        }

        &__address{

        }

        &__text{
            padding-bottom: 1rem;
        }


    }

}


@media (hover: hover){


}

@media (max-width: 768px){
    .front-contact{
        .title-section{
            font-size: 4rem;
            text-align: center;
        }

        .card__head{
            padding-top: .5rem;
        }

        .cards{
            gap: 3rem;
        }
    }
}

@media (min-width: 768px){
    .front-contact{
    }
}



