.front-news{
    background-color: #F3F5FD;
    padding: 9rem 0;
    .news__slider{
        // width: 104.5rem;
        width: 100%;
        margin: 0;
        flex-shrink: 0;
    }

    .swiper-slide{
        &__link{
            position: relative;
            display: block;
        }

        &__img{
            // width: 33.5rem;
            // height: 43rem;
            width: 100%;
            border-radius: 3.3rem;
            overflow: hidden;
            &:after,&:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;

                border-radius: 3.3rem;
            }

            &:after {
                background-image: linear-gradient(180deg, rgba(53, 51, 61, 0.00) 50%, #35333D 100%);
                
            }

            picture{
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    flex-shrink: 0;
                }
            }
        }

        &__text{
            position: absolute;
            color: #fff;
            z-index: 1;
            bottom: 4.7rem;
            font-size: 2.6rem;
            font-weight: 700;
            width: 38.7rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .swiper-controlling{
        position: relative;
        // padding-left: 2rem;
        padding-top: 3rem;

        .swiper-arrow{
            display: flex;
            align-items: flex-end;
            gap: 1rem;
            //height: 4.4rem;
        }

        .text{
            display: flex;
            align-items: flex-end;
        }

    }

    .swiper__container{
        display: flex;
        flex-direction: column;
    }
}


.news{
    &__pagination{
        position: relative;
        padding-bottom: 4rem;
            display: flex;
            justify-content: space-between;

        .swiper-pagination-bullet{
            // width: 9.8rem;
            // height: .5rem;
            width: 2rem;
            height: .5rem;
            background-color: #B3D9FB;
            border-radius: 0;
            opacity: 1;
            margin: 0 !important;
        }

        .swiper-pagination-bullet-active{
            background-color: #FAC373;
        }

    }

    &__arrow-prev,
    &__arrow-next{
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        width: 4.4rem;
        height: 4.4rem;

        border-radius: 50%;
        background-image: linear-gradient(87deg, #A6D2F9 2.75%, #C9E6FF 97.36%);

        &:after{
            //width: 1rem;
            font-size: 1.5rem;
            color: #000;
        }

        &.swiper-button-disabled{
            opacity: 1;
            background-image: none;
            border: .2rem solid #B3D9FB;
            color: #B3D9FB;
        }
    }
}


@media (hover: hover){
    .front-news{
        .swiper-slide{
            &__img{
                &:after{
                    transition: opacity 0.8s ease-in-out;
                    z-index: -2;
                    opacity: 100%;
                }
                &:before {
                    transition: opacity 0.8s ease-in-out;
                    background-image: linear-gradient(180deg, rgba(130, 42, 88, 0.00) 50%, #822A58 100%);
                    z-index: -1;
                    opacity: 0;
                }

                picture{
                    position: relative;
                    z-index: -3;
                }
            }

            &__link{
                &:hover{
                    .swiper-slide__img{
                        &:after{
                            opacity: 0;
                        }
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .swiper-controlling{
            .swiper-arrow{
                height: 7rem;
            }
        }

        .news{
            &__arrow-prev,
            &__arrow-next{
               &:hover{
                    background-image: linear-gradient(87deg, #B3DBFF 2.75%, #D5EBFF 97.36%);
               } 
            }
        }
    }
}

@media (min-width: 768px){
   .front-news{
        .news__slider{
            width: 104.5rem;
        }
        
        .swiper-slide{
            &__img{
                width: 33.5rem;
                height: 43rem;
            }

            &__text{
                bottom: 3rem;
                width: 29.5rem;

            }


        }

        .swiper-controlling{
            padding-left: 2rem;
            padding-top: 4rem;
            .text{
                height: 25rem;
                padding-bottom: 2rem;
                overflow: hidden;
            }
        }

        .swiper__container{
            flex-direction: row;
        }
   } 

   .news{
        &__pagination{
            padding-bottom: .5rem;
            .swiper-pagination-bullet{
                width: 9.8rem;
                height: .5rem;
            }
        }
   }
}
    

@media (max-width: 768px){
   .front-news{
        padding: 7rem 0;

        .swiper-slide{
            padding-bottom: 2rem;
        }

        .title-section{
            font-size: 4rem;
            text-align: center;
        }

        .swiper-controlling{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            //padding-top: 2rem;

            .text{
                text-align: center;
                padding-top: 3rem;
                padding-bottom: 3rem;
            }

            .btn__gold{
                margin: 0 auto;
            }

            .swiper-arrow{
                gap: 2rem;
            }


        }

        .news{
            &__pagination{
                width: 26rem;
                padding: 0;
                display: flex;
                align-items: center;
                // height: 7rem;
            }
        }
   }

   .news{
        &__arrow-prev,
        &__arrow-next{
            height: 7rem;
            width: 7rem;
        }
   }




}