.hero-categories{
    background: #F3F5FD;
    padding-bottom:  7rem;
    .card{
        &__content{
            background-color: #fff;
            padding: 1rem 1.8rem 6rem;
            border-radius: 3.3rem;
        }
    }

}

@media (min-width: 768px){
    .hero-categories{
        .card{

            &__content{
                height: 23.8rem;
            }
        }
    }
}