*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box


body._lock
    overflow: hidden

body:before
        content: ""
        transition-property: height, width, background-color
        transition-duration: 0.3s
        transition-timing-function: ease-in, ease, linear
        background-color: rgba(0, 0, 0, 0)

body._lock:before
        content: ""
        position: fixed
        width: 100%
        height: 100%
        top: 0
        left: 0
        cursor: pointer
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 5


.container
    max-width: 144rem
    padding: 0 2rem
    margin: 0 auto

.cards
    display: flex
    flex-direction: column
    gap: 1.8rem

.card
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0

    &-top__img
        display: flex
        justify-content: center
        svg
            width: 6rem
            height: 6rem

    &__title
        font-size: 2.6rem
        font-weight: 900
        text-align: center
        padding-bottom: 1rem
    // &__title-red
    //     font-size: 4rem
    //     font-weight: 900
    //     color:#9E396E

    &__description
        //text-align: center
    &__circle
        position: absolute
        width: 5.6rem
        height: 5.6rem
        border-radius: 50%
        left: 50%
        transform: translateX(-50%)
        bottom: .7rem
        background: linear-gradient(87deg, #A6D2F9 2.75%, #C9E6FF 97.36%)

        svg
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: 2.4rem
            height: 2.4rem

    &__link
        .card__title
            color: #9E396E

    &.featured
        .card__circle 
            background: linear-gradient(87deg, #F6AC42 2.75%, #FBCF8F 97.36%)


.cards__circle-bottom
    .card
        position: relative
        padding-bottom: 3.5rem
        &::before
            content: ''
            position: absolute
            display: block
            width: 7rem
            height: 7rem
            background-color: #f3f5fd
            border-radius: 50%
            bottom: 0
            left: 50%
            transform: translateX(-50%)


.img-adaptive
    height: 100%
    width: 100%
    -ms-flex-negative: 0
    flex-shrink: 0
    -o-object-fit: contain
    object-fit: contain


.progress
    width: 100%
    height: 3rem
    border-radius: 10rem
    overflow: hidden
    position: relative
    box-shadow: 2px 2px 9px 0 rgba(175, 198, 219, 0.54) inset
    display: flex
    align-items: center

    &__bar-text
        flex: 1

    &-bar 
        margin: 0 .5rem
        border-radius: 10rem
        display: block
        height: 2rem
        position: absolute

    &__box
        display: flex
        align-items: start
        gap: 2.5rem
        padding-bottom: 3rem

    &__number
        position: absolute
        z-index: 1
        font-size: 2.2rem
        right: 2rem

    &__text
        padding-top: 1.5rem
    
    &__ico
        svg
            width: 3rem
            height: 3rem
        
        

    &__box
        &.progress__green
            .progress__ico
                svg
                    fill: #2CBFA3
            .progress-bar
                background: linear-gradient(90deg, #2CBFA3 0%, #94E4D5 100%)
            .progress__number
                color: #2CBFA3
        &.progress__light-blue
            .progress__ico
                svg
                    fill: #B3D9FB
            .progress-bar
                background: linear-gradient(90deg, #90BEE7 0%, #CBE6FE 100%)
            .progress__number
                color: #B3D9FB
        &.progress__orange
            .progress__ico
                svg
                    fill: #FAC373
            .progress-bar
                background: linear-gradient(90deg, #FEAA25 0%, #FFDCA4 100%)
            .progress__number
                color: #FAC373
        &.progress__purple
            .progress__ico
                svg
                    fill: #9E396E
            .progress-bar
                background: linear-gradient(90deg, #8B3060 0%, #E385B6 100%)
            .progress__number
                color: #9E396E
        &.progress__coral
            .progress__ico
                svg
                    fill: #F68282
            .progress-bar
                background: linear-gradient(90deg, #F68282 0%, #FFBCBC 100%)
            .progress__number
                color: #F68282
    
  
  





@media (hover: hover)
    .card
        &__link
            filter: drop-shadow(0 0 5rem rgba(121, 191, 255, 0))
            transition: filter 0.8s ease-in-out   
            .card__title
                transition: color 0.5s ease-in-out  
            &:hover
                filter: drop-shadow(0 0 50px rgba(121, 191, 255, 0.50))
                .card__title
                    color: #D24A91
            
            &.featured
                filter: drop-shadow(0 0 5rem rgba(229, 119, 177, 0))
                &:hover
                    filter: drop-shadow(0 0 5rem rgba(229, 119, 177, 0.50))


                 

@media (min-width: 768px)
    .cards
        flex-direction: row
        gap: 3rem
    
    // .card
    //     &__title-red
    //         font-size: 4.8rem


@media (max-width: 767px)
    .card
        &__description
            max-width: 30rem
            margin: 0 auto

