*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body._lock
    overflow: hidden

body:before
        content: ""
        transition-property: height, width, background-color
        transition-duration: 0.4s
        transition-timing-function: ease-in, ease, linear
        background-color: rgba(0, 0, 0, 0)

body._lock:before
        content: ""
        position: fixed
        width: 100%
        height: 100%
        top: 0
        left: 0
        cursor: pointer
        background-color: rgba(0, 0, 0, 0.5)
        z-index: 5


.container
    max-width: 144rem
    padding: 0 2rem
    margin: 0 auto

.title__page
    padding-bottom: 3rem
    background-color: #f3f5fd
    .container
        text-align: left
        font-size: 4.8rem
        font-style: normal
        font-weight: 900
        line-height: 4.8rem
    &_color
        &-red
            color: #9E396E 

.title-3
    font-size: 2.4rem
    font-weight: 900

.pb-b
    padding-bottom: 7rem

.hero-image
    background: linear-gradient(to bottom, #f3f5fd 66%, #fff 0%)
    padding-bottom: 3rem
    picture
        display: flex
        height: 20rem
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 3.3rem

.img-adaptive
    height: 100%
    width: 100%
    -ms-flex-negative: 0
    flex-shrink: 0
    -o-object-fit: contain
    object-fit: contain

.progress
    width: 100%
    height: 3rem
    border-radius: 10rem
    overflow: hidden
    position: relative
    box-shadow: 2px 2px 9px 0 rgba(175, 198, 219, 0.54) inset
    display: flex
    align-items: center

    &__bar-text
        flex: 1

    &-bar 
        margin: 0 .5rem
        border-radius: 10rem
        display: block
        height: 2rem
        position: absolute

    &__box
        display: flex
        align-items: start
        gap: 2.5rem
        padding-bottom: 3rem

    &__number
        position: absolute
        z-index: 1
        font-size: 2.2rem
        right: 2rem

    &__text
        padding-top: 1.5rem
    
    &__ico
        svg
            width: 3rem
            height: 3rem

    &__box
        &.progress__green
            .progress__ico
                svg
                    fill: #2CBFA3
            .progress-bar
                background: linear-gradient(90deg, #2CBFA3 0%, #94E4D5 100%)
            .progress__number
                color: #2CBFA3
        &.progress__light-blue
            .progress__ico
                svg
                    fill: #B3D9FB
            .progress-bar
                background: linear-gradient(90deg, #90BEE7 0%, #CBE6FE 100%)
            .progress__number
                color: #B3D9FB
        &.progress__orange
            .progress__ico
                svg
                    fill: #FAC373
            .progress-bar
                background: linear-gradient(90deg, #FEAA25 0%, #FFDCA4 100%)
            .progress__number
                color: #FAC373
        &.progress__purple
            .progress__ico
                svg
                    fill: #9E396E
            .progress-bar
                background: linear-gradient(90deg, #8B3060 0%, #E385B6 100%)
            .progress__number
                color: #9E396E
        &.progress__coral
            .progress__ico
                svg
                    fill: #F68282
            .progress-bar
                background: linear-gradient(90deg, #F68282 0%, #FFBCBC 100%)
            .progress__number
                color: #F68282
    
.highlight-background
        position: absolute
        background-color: #F3F5FD
        width: 100%
        height: 100%
        z-index: -1
        bottom: 0
        left: 50%
        transform: translateX(-50%)

.highlight-background__radius-top
    border-radius: 4.4rem 4.4rem 0 0
.highlight-background__radius-bottom
    border-radius: 0 0 4.4rem 4.4rem
.display-none
    display: none

.img-responsive
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;

  

@media (hover: hover)
    .card
        &__link
            filter: drop-shadow(0 0 5rem rgba(121, 191, 255, 0))
            transition: filter 0.4s ease-in-out   
            .card__title
                transition: color 0.4s ease-in-out  
            &:hover
                filter: drop-shadow(0 0 50px rgba(121, 191, 255, 0.50))
                .card__title
                    color: #D24A91
            
            &.featured
                filter: drop-shadow(0 0 5rem rgba(229, 119, 177, 0))
                &:hover
                    filter: drop-shadow(0 0 5rem rgba(229, 119, 177, 0.50))


@media (min-width: 768px)
    .highlight-background
        width: 158rem
        max-width: 100%

    .title__page
        padding-bottom: 2.5rem
        .container
            text-align: center
            font-size: 6.4rem
            line-height: 6.4rem

    .title-3
        font-size: 3.6rem

    .pb-b
        padding-bottom: 9rem

    .sizing
        &__first-steps
            max-width: 110rem
            margin: 0 auto
        &-110
            max-width: 110rem
            margin: 0 auto
        &-90
            max-width: 90rem
            margin: 0 auto

    .hero-image
        padding-bottom: 9rem
        picture
            height:40rem




