@font-face {
  font-family: 'Passions Conflict';
  src: url('../fonts/Passions-conflict-rus/passions-conflict-rus.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Passions-conflict-rus/passions-conflict-rus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Passions-conflict-rus/passions-conflict-rus.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Passions-conflict-rus/passions-conflict-rus.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Passions-conflict-rus/passions-conflict-rus.svg#PassionsConflict') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}