@use '../helpers/_variables.scss' as *;

html
    //font-size: 10px
    font-size: 2.08vw
body
    font-family: $font-main
    font-style: normal
    font-weight: 400
    font-size: 2rem
    color: #35333D
    // font-family: 'Mulish', sans-serif

    // font-family: 'Passions Conflict',sans-serif

a
    color: #35333D
    text-decoration: none
    -webkit-tap-highlight-color: transparent

a.link__red
    color: #9E396E
    font-weight: 700
    .svg
        fill: #9E396E
    &-lg
        font-size: 2.4rem
        font-weight: 900


.title-section
    font-size: 3.2rem
    font-weight: 900
    padding-bottom: 3rem
.text-accent
    color: #9E396E

.text-center
    text-align: center

.bold-font
    font-weight: bold

.block-max-width-1110
    margin: 0 auto
    max-width: 111rem

@media (hover: hover)
    a.link__red
        transition: color .4s ease-in-out
        .svg
            transition: fill .4s ease-in-out
        &:hover
           color: #D24A91
           .svg
                fill:#D24A91

@media (min-width: 768px)
    html 
        font-size: 0.694vw

    .title-section
        font-size: 4.8rem
        padding-bottom: 4rem

    a.link__red
        &-lg
            font-size: 2.6rem


@media (min-width: 1440px)
    html
        font-size: 10px
