@use '../helpers/_variables.scss' as *;

html
    //font-size: 10px
    font-size: 0.694vw
body
    font-family: $font-main
    font-size: 0.694vw
    font-style: normal
    font-weight: normal
    // font-family: 'Mulish', sans-serif

    // font-family: 'Passions Conflict',sans-serif

.text-accent
    color: #9E396E

@media (min-width: 1440px)
    html
        font-size: 10px
