@use '../../helpers/_mixins.sass' as *;
@use '../../helpers/_variables.scss' as *;

.header {
    padding: 3.6rem 0 4.2rem;
    background: #F3F5FD;

    .container{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        width: 33.5rem;
    }

    &__site{
        &-link{
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: #35333D;
        }

        &-logo{
            height: 6rem;
        }

        &-img{
            height: 6rem;
            width: auto;
        }

        &-text{
            display: flex;
            flex-direction: column;
            justify-content: end;

        }

        &-slogan{
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-name{
            font-size: 2.6rem;
            font-weight: 900;
            line-height: 1;

        }

    }

    &__nav{
      display: flex;
      justify-content: center;
      
      &-wrapper{
        position: relative;
        z-index: 6;
        cursor: pointer;
      }

      &-btn{

        // padding: 1.5rem 4rem 1.2rem;
        // width: 20.9rem;
        background-image: linear-gradient(87deg, #A6316E 2.75%, #F66DB5 97.36%);
        width: 8rem;
        height: 8rem;
        border-radius: 8rem;
        // border-radius: 2.9rem;

        z-index: 5;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text{
            display: none;
        }

      }

      &-hamburger{
        position: relative;
        width: 2rem;
        height: 1.6rem;
        span{
            position: absolute;
            width: 2rem;
            height: .2rem;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            transition: background-color 0.4s ease-in-out;
        }

        &::after,&::before{
            position: absolute;
            width: 2rem;
            height: .2rem;
            background-color: #fff;
            transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
        }

        &:before{
            content: '';
            top: 0;
        }

        &:after{
            content: '';
            top: 1.4rem;
        }

        &._active{
            span{
                background-color: transparent;
            }

            &:before{
                top: .6rem;
                transform: rotate(45deg);
            }

            &:after{
                top: .6rem;
                transform: rotate(-45deg);
            }
        }

      }


      &-menu{
        width: 144rem;
        max-width: 100%;
        position: absolute;
        z-index: 5;
        top: 13.8rem;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../../../img/menu/back-line.png);
        background-size: 100% auto;
        background-position: 0 1rem;


        .background-top{
          width: 100%;
          height: 16rem;
          position: absolute;
          background-image: url(../../../img/menu/back-top.png);

          background-size: 100% auto;

          top: -16rem;
          left: 50%;
          transform: translateX(-50%);
        }

        .background-bottom{
            width: 100%;
            height: 8rem;
            position: absolute;
            background-image: url(../../../img/menu/back-bottom.png);

            background-size: 100% auto;

            bottom: -8rem;
            left: 50%;
            transform: translateX(-50%);
        }

        .cards{
            padding: 0 8.5rem;
        }

        .menu{
            &__list{

                &-nested {

                }
            }

            &__item{
                
                &-nested{
                    
                }
            }

            &__link{
                font-size: 2.4rem;
                font-weight: 700;
                padding-bottom: 3rem;
                display: block;
                &-nested{
                    padding-bottom: 2rem;
                    display: block;
                }
            }
        }


      }


      &-menu{
        display: none;

        &._active{
            display: block;
        }
      }



    }

}




@media (max-width: 767px){
    .hero{
        
        &__title{
            padding-bottom: 2rem;
        }
    }
}

@media (min-width: 768px){

    .header {



        &__nav{

            &-btn{

                padding: 1.5rem 4rem 1.2rem;
                width: 20.9rem;
                background-image: linear-gradient(87deg, #A6316E 2.75%, #F66DB5 97.36%);
                border-radius: 2.9rem;

                z-index: 5;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text{
                    color: #fff;
                    font-size: 2.6rem;
                    display: block;
                }
            }

            &-menu{

            }
        }
    }

}