
@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}


@mixin padding-y-default{
    padding-top: 7rem;
    padding-bottom: 7rem;
    @include desktop {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
}

@mixin box-text-center($width: 100rem, $font-size-mobile: 2.4rem, $font-size-desktop: 2.6rem, $padding-bottom-mobile: 4rem, $padding-bottom-desktop: 9rem) {
    margin: 0 auto;
    font-size: $font-size-mobile;
    padding-bottom: $padding-bottom-mobile;

    @include desktop {
        width: $width;
        font-size: $font-size-desktop;
        padding-bottom: $padding-bottom-desktop;
        text-align: center;
    }
}


@mixin card($bg: #fff, $shadow-d: null, $shadow-m: null, $radius: 3.3rem, $padding: 2rem,  $width: 65.3rem, $margin-right: 3rem) {

    background-color: $bg;
    border-radius: $radius;
    padding: $padding;
    margin-right: $margin-right;
    position: relative;

    @if $shadow-d != null {
        box-shadow: $shadow-d;
    }

    @include desktop {
        padding: $padding;
        width: $width;
        flex: 0 0 $width;

        @if $shadow-m != null {
            box-shadow: $shadow-m;
        }
    }
}


@mixin card__circle2( $right: -3.5rem){
    position: absolute;
    display: block;
    width: 7rem;
    height: 7rem;
    background-color: #F3F5FD;
    border-radius: 50%;
    top: 50%;
    right: $right;
    transform: translateY(-50%);
}

@mixin card__circle2_back{
    position: absolute;
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin card_before-after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 3.3rem;
}

@mixin card__circle2_back-before-gold{
    transition: opacity 0.4s ease-in-out;
    background-image: linear-gradient(87deg, #F6AC42 2.75%, #FBCF8F 97.36%);
    z-index: -1;
}

@mixin card__circle2_back-after-gold{
    background-image: linear-gradient(87deg, #FFBC5C 2.75%, #FFD599 97.36%);
    z-index: -2;
}

@mixin card__circle2_back-svg($stroke: #fff){
    position: absolute;
    height: 2.4rem;
    width: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: $stroke;
}



