.page__404{
    .box{
        padding-bottom: 7rem;
    }
    .text-standart{
        padding: 0 0 3rem;
        font-weight: 700;
    }


}

@media (min-width: 768px){
    .box{
        padding-bottom: 9rem;
    }
   .page__404{
        .text-standart{
            padding: 0 2rem 4rem;
        }
    } 
}