.page__contacts{

    .front-contact{
        position: relative;
        background: unset;

        .highlight-background{
            height: 50%;
        }    
        
        .card{
            padding: 4rem 3rem 2rem;
            box-shadow: 0 0 5rem 0 rgba(182, 218, 251, 0.50);
        }
    }


}