.breadcrumbs{

    background-color: #f3f5fd;
    padding-bottom: 1rem;

    &__list{
        display: flex;
        gap: 1rem 3.5rem;
        flex-wrap: wrap;
    }

    &__item{
        padding: .5rem 2rem;
        background-color: #fff;
        border-radius: 9.9rem;
        position: relative;

        &:not(:last-child):after{
            content: '';
            background-image: url(../img/svg/arrow-up-2.svg);
            display: inline-block;
            width: 3.5rem;
            height: 3.5rem;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            right: -3.7rem;
        };


        &:last-child{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }


    &__current{
        color: #000;
    }
}