.btn{

    display: inline-flex;
    padding: 1.8rem 3rem 1.5rem;
    color: #35333D; 
    border-radius: 9.9rem; 
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
    }

    &:before{
        transition: opacity 0.4s ease-in-out;
        background-image: linear-gradient(87deg, #A6D2F9 2.75%, #C9E6FF 97.36%);
        z-index: -1;
    }

    &__text{
        z-index: 3;
    }

    &__svg{
        padding-left: 2rem;
        z-index: 3;
        svg{
            width: 2.4rem;
            height: 2.4rem;
            stroke: #35333D;
        }

        &-white{
            svg{
                stroke: white;
            }
        }
    }

    &__red{
        display: inline-flex;
        padding: 1.8rem 3rem 1.2rem;
        color: #fff; 
        border-radius: 9.9rem; 
        cursor: pointer;
        position: relative;
        overflow: hidden; 

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }

        &:before{
            transition: opacity 0.4s ease-in-out;
            background-image: linear-gradient(87deg, #932860 2.75%, #DA61A0 97.36%);
            z-index: 2;
        } 

        &-menu{
            font-size: 2.6rem;
            padding: 1.8rem 4rem;
        }

        &.btn__standart{
            padding-top: 1.8rem;
            padding-bottom: 2rem;

            .btn__text{
                line-height: 1;
            }
        }
    }

    &__gold{
        display: inline-flex;
        padding: 1.8rem 3rem 1.2rem;
        color: #000; 
        border-radius: 9.9rem; 
        cursor: pointer;
        position: relative;
        overflow: hidden; 

        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }

        &:before{
            transition: opacity 0.4s ease-in-out;
            background-image: linear-gradient(87deg, #F6AC42 2.75%, #FBCF8F 97.36%);
            z-index: 2;
        } 

        .btn__svg{
            z-index: 3;
        }

        .btn__text{
            z-index: 3;
        }
    }

    
}

button{
    &.btn__red{
        font-size: 2rem;
    }
}


@media (hover: hover){
   .btn{

        &:after {
            background-image: linear-gradient(87deg, #B3DBFF 2.75%, #D5EBFF 97.36%);
            z-index: -2;
        }

        box-shadow: 0 0 0 0 rgba(121, 191, 255, 0.50);
        transition: box-shadow 0.4s ease-in-out;
        &:hover{
            box-shadow: 0 0 5rem 0 rgba(121, 191, 255, 0.50);
            &:before{
                opacity: 0;
            }
        }

        &__red{
            &:after {
                background-image: linear-gradient(87deg, #A6316E 2.75%, #F66DB5 97.36%);
                z-index: 1;
            }
            box-shadow: 0 0 0 0 rgba(229, 119, 177, 0.50);
            transition: box-shadow 0.4s ease-in-out;
            &:hover{
                box-shadow: 0 0 5rem 0 rgba(229, 119, 177, 0.50);
                &:before{
                    opacity: 0;
                }
            }
        }

        &__gold{
            &:after {
                background-image: linear-gradient(87deg, #FFBC5C 2.75%, #FFD599 97.36%);
                z-index: 1;
            }

            box-shadow: 0 0 0 0 rgba(255, 169, 34, 0.35);
            transition: box-shadow 0.4s ease-in-out;
            &:hover{
                box-shadow: 0 0 5rem 0 rgba(255, 169, 34, 0.35);
                &:before{
                    opacity: 0;
                }
            }

            
        }
   } 
}

   
