.pair{

    display: flex;
    gap: 6.2rem;

    

    &__img{
        picture{
            display: flex;
            border-radius: 3rem;
            overflow: hidden;
            box-shadow: 0 0 50px 0 rgba(182, 218, 251, 0.50);
            width: 53rem;
            height: 30rem;
        }

        img{
           height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__title{
        font-size: 3.6rem;
        font-weight: 900;
        padding-bottom: 2rem;
    }

    &__text{
        p{
            padding-bottom: 1rem;
        }
    }

}


@media (max-width: 767px){

}


@media (min-width: 768px){

}